a:link {text-decoration: none; color: rgb(255,0,0)}
a:visited{text-decoration: none; color: #FF0000}
a:hover{text-decoration: underline; color: #FF0000}
a:active{text-decoration: underline; color: #FF0000}



body{
background-color:F3BA82
}

#BulldasMenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	}
#BulldasMenu ul{
	background:#F3BA82;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
#BulldasMenu li{
	float:left;
	padding:0px;
	}
#BulldasMenu li a{
	background:#333333 url('seperator.gif') bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
#BulldasMenu li a:hover, #BulldasMenu ul li:hover a{
	background: #2580a2 url('hover.gif') bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
	}
#BulldasMenu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
#BulldasMenu li:hover ul{
	display:block;
	
	}
#BulldasMenu li li {
	background:url('sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
#BulldasMenu li:hover li a{
	background:none;
	
	}
#BulldasMenu li ul a{
	display:block;
	height:35px;
	font-size:px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
#BulldasMenu li ul a:hover, #BulldasMenu li ul li:hover a{
	background:#2580a2 url('hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
#BulldasMenu p{
	clear:left;
	}	